@import url("./common.css");

* {
    box-sizing: content-box;
    font-family: 'Noto Sans KR', sans-serif;
}

a{
    text-decoration: none;
    color: #fff;
}


body{
    margin: 0;
    padding: 0;

    header{
        width: 100vw;
        top:38px;
    
        h1{
            font-size:2.5rem;
            text-align: center;
            font-weight: 700;
        }
    }
    section{
        .content01{
            width: 100vw;
            height: 100vh;
            article{
                margin: 0 auto;
                width: 83vw;
                h2{
                    margin-top: 100px;
                    font-weight: 400;
                    position: relative;
                    padding-left: 20px;
                    
                    &::before{
                        content: "";
                        width: 8px;
                        height: 23px;
                        background-color:#AC0A00; 
                        position: absolute;
                        top: 50%;
                        transform: translate(-210%,-45%);
                        border-radius: 30px;
                    }
                }
                figure{
                    align-items: center;
                    margin-top: 55px;
                    margin-left: 0;
                    margin-right: 0;
                    font-weight: 500;
                    img{
                        position: relative;
                        left: 50%;
                        translate: -50%;
                        width: 758px;
                        height: 351px;
                        margin-bottom: 48px;
                    }
                    figcaption{
                        line-height: 1.5rem;
                        font-size: 1.13rem;
                        p{
                            margin-bottom: 10px;
                        }
                        span{
                            color: rgb(22, 22, 169);
                            font-size: 1.15rem;
                        }
                    }
                }
            }
        }
    
        .content02{
            width: 100vw;
            height: 100vh;
            margin-top: 163px;
            background-color: #000;
            color: #fff;
            .floor{
                margin: 0 auto;
                padding-top: 120px;
                width: 83vw;
                h2{
                    font-weight: 400;
                    position: relative;
                    padding-left: 18px;
                    
                    &::before{
                        content: "";
                        width: 8px;
                        height: 23px;
                        background-color:#AC0A00; 
                        position: absolute;
                        top: 50%;
                        transform: translate(-210%,-45%);
                        border-radius: 30px;
                    }
                }
                .f{
                    height: 164px;
                    border-bottom: 1px solid #ddd;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    position: relative;
                    .floor-name{
                        width: 17vw;
                        font-size: 2.625rem;
                        font-weight: 700;
                        padding: 45px;
                    }
                    .inner{
                        width: 55vw;
                        line-height: middle;
                        text-align: center;
                        font-size: 1.2rem;
                    }
                    .move{ 
                        width: 17vw;
                        img{
                            width: 81px;
                            height: 107px;
                            padding-left: 165px; 
                        }
                    }
    
                    .inner:hover{
                        //color: #AC0A00;   //color - font-color 
                        font-weight: bold;
                        cursor: pointer;
                        transition: all 0.2s ease-in-out;
                    }
                }

                .floor-03{
                    position: relative;
                    &::after{
                        content: "전시관 입구";
                        width: 85px;
                        left: 0;
                        font-size: 1.1rem;
                        font-weight: lighter;
                        color: #ddd;
                        position: absolute;
                        transform: translate(24%, -70%);
                    }
                }
                
                
            }
        }

        .f:nth-child(1):hover{
            &::after{
            content: "";
            width: 155px;
            height: 105px;
            border: 2px solid #ddd;
            position:absolute;
            background-color: pink;
            }
        }

        .thumb{
            display: none;
            width: 155px;
            height: 105px;
            border: 2px solid #ddd;
            position: absolute;
        }
    }

    article{
    
    }
}
