@import url("./common.css");

* {
    box-sizing: content-box;
    font-family: 'Noto Sans KR', sans-serif;
}

a{
    text-decoration: none;
    color: #fff;
}


body{
    margin: 0;
    padding: 0;
    
    header{
        width: 100vw;
        top:47px;
        
        h1{
            font-size:2.5rem;
            text-align: center;
            font-weight: 700;
        }
    }
    
    .section01{
        width: 100%;
        height: 100vh;
        .content01{
            width: 100vw;
            article{
                margin: 0 auto;
                width: 83vw;
                h2{
                    margin-top: 100px;
                    font-weight: 400;
                    position: relative;
                    padding-left: 20px;
                    
                    &::before{
                        content: "";
                        width: 8px;
                        height: 23px;
                        background-color:#AC0A00; 
                        position: absolute;
                        top: 50%;
                        transform: translate(-210%,-45%);
                        border-radius: 30px;
                    }
                }
                figure{
                    align-items: center;
                    margin-top: 55px;
                    margin-left: 0;
                    margin-right: 0;
                    font-weight: 500;
                    img{
                        position: relative;
                        left: 50%;
                        translate: -50%;
                        width: 40vw;
                        // height: 351px;
                        margin-bottom: 48px;
                    }
                    figcaption{
                        line-height: 1.5rem;
                        font-size: 1.13rem;
                        p{
                            margin-bottom: 10px;
                        }
                        span{
                            color: rgb(22, 22, 169);
                            font-size: 1.15rem;
                        }
                    }
                }
            }
        }
    }

    .section02{
            width: 100%;
            height: 100vh;
            margin-top: 163px;
            background-color: #000;
            color: #fff;
            .floor{
                margin: 0 auto;
                padding-top: 120px;
                width: 83vw;
                h2{
                    font-weight: 400;
                    position: relative;
                    padding-left: 18px;
                    
                    &::before{
                        content: "";
                        width: 8px;
                        height: 23px;
                        background-color:#AC0A00; 
                        position: absolute;
                        top: 50%;
                        transform: translate(-210%,-45%);
                        border-radius: 30px;
                    }
                }
                .f{
                    height: 17vh;
                    border-bottom: 1px solid #ddd;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    position: relative;
                    .floor-name{
                        width: 9vw;
                        font-size: 2.625rem;
                        font-weight: 700;
                        padding: 45px;
                    }
                    .inner{
                        width: 66vw;
                        line-height: middle;
                        text-align: center;
                        font-size: 1.5rem;
                    }
                    .move{ 
                        width: 17vw;
                        img{
                            width: 81px;
                            height: 107px;
                            padding-left: 8vw; 
                            padding-right: 20px;
                        }
                    }
    
                    .inner:hover{
                        //color: #AC0A00;   //color - font-color 
                        font-weight: bold;
                        cursor: pointer;
                        transition: all 0.2s ease-in-out;
                    }
                }

                .move3{
                    position: relative;
                    &::before{
                        content: "전시관 입구 ▶";
                        left: 0;
                        font-size: 0.8vw;
                        font-weight: lighter;
                        color: rgba(221, 221, 221, 0.706);
                        position: absolute;
                        left: 15%;
                        top: 45%;
                    }
                }
        }

        .inner01:hover{
            &::after{
            content: "";
            // width: 470px;
            // height: 105px;
            width: 24vw;
            height: 9.7vh;
            // box-shadow: 10px 10px 20px  rgba(221, 221, 221, 0.706);
            border-radius: 5px;
            position: absolute;
            background: url("../img/gallery/2f.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            top: -35%;
            left: 35%;
            }
        }

        .inner02:hover{
            &::after{
            content: "";
            // width: 470px;
            // height: 105px;
            width: 24vw;
            height: 9.7vh;
            // border: 1px solid #ddd;
            border-radius: 5px;
            position: absolute;
            background: url("../img/gallery/1f.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            top: -35%;
            left: 35%;
            }
        }

        .inner03:hover{
            &::after{
            content: "";
            // width: 470px;
            // height: 105px;
            width: 24vw;
            height: 9.7vh;
            // border: 1px solid #ddd;
            border-radius: 5px;
            position: absolute;
            background: url("../img/gallery/b1f.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            top: -35%;
            left: 35%;
            }
        }

        .inner04:hover{
            &::after{
            content: "";
            // width: 155px;
            // height: 105px;
            width: 8vw;
            height: 9.7vh;
            // border: 1px solid #ddd;
            border-radius: 5px;
            position: absolute;
            background: url("../img/gallery/b2f.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            top: -35%;
            left: 43%;
            }
        }

    }

    .section03{
        .guide{
            h2{}
        
            .con-box01{
                .con{
                    img{}
                    h3{}
                    ul{
                        li{}
                    }
                }
            }
        }

        .map{
            h2{}
            .map-box{}
        }

        .study{
            h2{}
            
        }
    }
}
