* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #000;
}
body::-webkit-scrollbar {
  display: none;
}
.intro {
  width: 40%;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation-name: imgSize;
  animation-duration: 3s;
  //   animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.intro img {
  width: 100%;
}
@keyframes imgSize {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    left: 50%;
    top: 50%;
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
    left: 50%;
    top: 50%;
  }
  100% {
    transform: translate(-50%, -50%) scale(0.05);
    left: 6.25rem;
    top: 3.125rem;
  }
}
