
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
#video_area {
  padding: 0;
  width: 100%;
  height: 125vh;
  overflow: hidden;
  position: absolute;
  z-index: -100;
}
#background_video {
  z-index: -100;
  width: 100%;
  height: 100%;
  position: absolute;
}
body {
  margin: 0;
  background-color: #000;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 1920px;
  overflow: hidden;
  touch-action: none;
}
input {
  background-color: transparent;
  border: none;
  outline: none;
}
.retter-title {
  padding-top: 15vh;
  padding-left: 10.2vw;
  font-weight: bold;
  font-size: 2rem;
  align-items: center;
  color: #ddd;
  display: flex;
}
.title {
  padding-top: 1vh;
  padding-left: 10.2vw;
  font-weight: 400;
  font-size: 1.3rem;
  align-items: center;
  color: #ddd;
  display: flex;
}
.title-box {
  width: 8px;
  height: 26px;
  background-color: #ac0a00;
  border-radius: 25px;
}
.title-detail {
  padding-left: 0.6vw;
}
.con-area {
  padding-left: 9.6vw;
}
.container {
  background-image: url("./img/main-retter.svg");
  background-repeat: no-repeat;
  background-position: 50% 10%;
  background-size: 100%;
  width: 770px;
  height: 640px;
}
@media (max-width: 824px) {
  .container {
    width: 570px;
    height: 440px;
  }
  .input-style {
    margin-top: 5.3rem !important;
    margin-left: 1.4rem !important;
    max-width: 120px !important;
    font-size: 11px;
  }
  .input-area1 {
    margin-left: 4.9rem !important;
    margin-top: 1.4rem !important;
  }
  .input-style1 {
    line-height: 297% !important;
    width: 419px !important;
    height: 190px !important;
    font-size: 11px;
  }
  .send-area {
    margin-top: 2rem;
    margin-right: 9rem !important;
  }
  .button-style {
    height: 30px !important;
    width: 150px !important;
  }
  .plus {
    margin-top: 0.3rem !important;
    font-size: 12px !important;
  }
  .button-style1 {
    width: 120px !important;
    line-height: 50px !important;
  }
  .move-font {
    font-size: 14px;
  }
  .task-page {
    margin-top: 13rem;
  }
}
@media (max-width: 640px) {
  .retter-title {
    font-size: 1.5rem;
    padding-top: 30vh;
  }
  .title {
    font-size: 0.8rem;
  }
  .container {
    width: 380px;
    height: 260px;
  }
  .input-area {
    display: flex;
    margin-left: 1.4rem !important;
    width: 100%;
    height: 24%;
  }
  .input-style {
    margin-top: 2.9rem !important;
    margin-left: 1.9rem !important;
    max-width: 70px !important;
    font-size: 7px;
  }
  .input-area1 {
    margin-left: 3.3rem !important;
    margin-top: 1.1rem !important;
  }
  .input-style1 {
    font-size: 7px;
    line-height: 216% !important;
    width: 275px !important;
    height: 126px !important;
  }
  .button-style {
    height: 20px !important;
    width: 80px !important;
  }
  .send-area {
    margin-top: 1rem !important;
    margin-right: 6rem !important;
  }
  .plus {
    margin-top: 0rem !important;
    font-size: 5px !important;
  }
  .button-style1 {
    width: 100px !important;
    line-height: 40px !important;
  }
  .move-font {
    font-size: 12px;
  }
  .img-con3 {
    width: 300px !important;
  }
  .img-con4 {
    margin-top: 3.7rem;
    width: 300px !important;
  }
  .task {
    width: 240px !important;
    height: 220px !important;
  }
  .button-box {
    height: 40px !important;
  }
  .div-flex {
    margin-left: 0.9rem !important;
    margin-bottom: 0.5rem !important;
  }
  .div-flex1 {
    margin-left: 0.8rem !important;
  }
  .div-flex1 > textarea {
    line-height: 145% !important;
    width: 180px !important;
    height: 82px !important;
  }
  .toFrom {
    font-size: 0.6rem !important;
  }
  .task-page {
    margin-top: 13rem;
  }
  .title-box {
    width: 3px;
    height: 14px;
  }
  .task-area {
    height: 80vh !important;
}
.task:hover {
  margin-bottom: 20rem !important;
}
.img-con4:hover + .task {
  margin-bottom: 20rem !important;
}
}
.task-area {
  display: flex;
  height: 90vh;
}
.task {
  background-image: url("./img/main-retter.svg");
  background-size: cover;
  background-position: center;
  width: 290px;
  height: 260px;
  border-radius: 20px;
  transform: rotate(-10deg);
  margin-bottom: 2rem;
}
.task:hover {
  transition: 0.8s;
  transform: rotate(0deg);
  margin-bottom: 30rem;
  margin-right: 0.4rem;
  z-index: 100;
}
.toFrom {
  display: flex;
  font-size: 0.8rem;
}
.button-box {
  display: flex;
  justify-content: end;
  height: 45px;
}
.button-box button {
  border: none;
  margin: 0.9rem;
  background-color: transparent;
  transition: 0.5s;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.button-box button:first-child:hover {
  background-color: rgb(253, 130, 130);
}
.div-flex {
  display: flex;
  justify-content: start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 1.3rem;
  margin-bottom: 0.6rem;
}
.div-flex1 {
  display: flex;
  justify-content: start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 1.2rem;
}
.div-flex1 > textarea {
  line-height: 148%;
  width: 260px;
  height: 120px;
}
.task-tabs div {
  cursor: pointer;
  font-weight: lighter;
}

.task-list-container {
  border: 1px solid lightgray;
  margin-top: 1em;
  position: relative;
}
.trash {
  font-size: 1rem;
  color: black;
}
.input-style {
  max-width: 150px;
  width: 100%;
  font-weight: lighter;
  margin-top: 7.9rem;
  margin-left: 3.1rem;
  height: 28px;
}
.input-style1 {
  font-weight: lighter;
  line-height: 330%;
  width: 560px;
  height: 260px;
}
textarea {
  background-color: transparent;
  border: none;
  resize: none;
  outline: none;
}
.button-style {
  border: 1px solid rgb(172, 150, 90);
  background-color: rgb(172, 146, 90);
  height: 40px;
  width: 200px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border-radius: 30px;
}
.button-style1 {
  position: relative;
  text-decoration: 0;
  display: block;
  width: 150px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
}
span {
  display: block;
}
.masker {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  background-color: rgba(255, 0, 0, 0.623);
  color: #ddd;
  overflow: hidden;
  transition: 0.4s;
}
.masker span {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}
.button-style1:hover .masker {
  height: 100%;
}
.retter-move {
  display: block;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 3500;
  cursor: pointer;
}
.retter-move-font {
  color: #ddd;
  margin: 0 auto;
}
.plus {
  color: rgb(255, 255, 255);
  margin-top: 0.5rem;
}
.input-area {
  display: flex;
  margin-left: 3.5rem;
  width: 100%;
  height: 24%;
}
.input-area1 {
  margin-left: 6.6rem;
  margin-top: 1.6rem;
  width: 100%;
  height: 24%;
}
.send-area {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-right: 14rem;
}
.img-con {
  position: absolute;
  z-index: -10;
  margin-left: 90rem;
  margin-top: 5.8rem;
}
.hands {
  z-index: -10;
  position: relative;
  animation: motion 0.9s /* 속도 */ linear 0s
    /* 처음부터 끝까지 일정 속도로 진행 */ infinite alternate; /* 무한 반복 */
}
.img-con1 {
  position: absolute;
  z-index: -10;
  margin-top: 30rem;
}
.Vector {
  z-index: -10;
  position: relative;
}
.img-con2 {
  position: absolute;
  z-index: -10;
  margin-top: 45rem;
}
.Vector1 {
  z-index: -10;
  position: relative;
}
.img-con3 {
  position: absolute;
  z-index: -10;
  width: 350px;
}
.retter01 {
  z-index: -10;
  position: relative;
}
.img-con4 {
  position: absolute;
  z-index: 10;
  margin-top: 3.7rem;
  cursor: pointer;
  width: 350px;
}
.retter02 {
  z-index: 10;
  position: relative;
}
.img-con4:hover + .task {
  transition: 0.8s;
  transform: rotate(0deg);
  margin-bottom: 30rem;
  margin-right: 0.4rem;
}
@keyframes motion {
  0% {
    margin-top: 0px;
  } /* 처음 위치 */
  100% {
    margin-top: 43px;
  } /* 마지막 위치 */
}
.material-symbols-outlined {
  margin-top: 0.2rem;
  font-size: 1.5rem !important;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

/* swiper */
.swiper {
  width: 95%;
  height: 100%;
  margin-top: 5rem;
}
.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

