html {
    scroll-behavior: smooth;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  body {
    margin: 0;
    background-color: #000;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 1920px;
    height: 2000px;
    overflow: hidden;
    touch-action: none;
  }
  input {
    background-color: transparent;
    border: none;
    outline: none;
  }
  .retter-title {
    text-align: center;
    font-size: 2rem;
    color: #ddd;
    font-weight: bold;
  }
  .title {
    position:relative;
    display: flex;
    justify-content: start;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    margin-top: 100px;
    color: #ddd;
    padding-left: 185px;
  }
  .title::before {
    content: "";
    width: 8px;
    height: 23px;
    background-color:#AC0A00; 
    position: absolute;
    top: 50%;
    transform: translate(-210%,-45%);
    border-radius: 30px;
  } 
  .container {
    background-image: url("../img/main-retter.svg");
    background-repeat: no-repeat;
    background-position: 50% 10%;
    background-size: 100%;
    max-width: 800px;
    width: 100%;
    height: 700px;
    margin-left: 10rem;
  }
  .task-area {
    border: 1px solid transparent;
    display: flex;
    height: 80vh;
    overflow-y: auto;
  }
  .task-page {
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
    margin-top: 3rem;
  }
  .task-page::after {
    border: 1px solid #ddd;
    width: 300px;
  }
  .task-board {
    display: flex;
    flex-wrap: wrap;
  }
  .task-font{
    font-size: 1rem;
  }
  .task {
    background-image: url("../img/main-retter.svg");
    background-size: cover;
    width: 350px;
    height: 270px;
    margin-left: 8.5rem;
    margin-top: 5rem;
    border-radius: 20px;
    /* transform: rotate(-10deg); */
  }
  .task span {
    display: flex;
    font-size: 0.8rem;
  }
  .div-flex1 > textarea{
    margin-top: 0.7rem;
    margin-left: 3rem;
    max-width: 100%;
    width: 265px;
    height: 125px;
    line-height: 155%;
  }
  .button-box {
    display: flex;
    justify-content: end;
    height: 40px;
  }
  .button-box button {
    border: none;
    margin: 1rem;
    background-color: transparent;
    transition: 0.5s;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  .button-box button:first-child:hover {
    background-color: rgb(253, 130, 130);
  }
  .div-flex {
    display: flex;
    justify-content: start;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 0.5rem;
    margin-left: 3.1rem;
  }
  .div-flex1 {
    height: 188px;
  }
  .task-tabs div {
    cursor: pointer;
    font-weight: lighter;
  }
  
  .task-list-container {
    border: 1px solid lightgray;
    margin-top: 1em;
    position: relative;
  }
  .trash {
    font-size: 1rem;
    color: black;
  }
  .input-style {
    border: none;
    border: 1px solid transparent;
    max-width: 150px;
    width: 100%;
    font-weight: lighter;
    margin-top: 8.2rem;
    margin-left: 3.1rem;
    height: 28px;
  }
  .input-style1 {
    border: none;
    border: 1px solid transparent;
    max-width: 580px;
    width: 100%;
    height: 260px;
    font-weight: lighter;
    margin-left: 6.1rem;
    margin-bottom: 2.5rem;
    text-align: bottom;
    padding-left: 1em;
    padding-top: 2em;
    line-height: 340%;
  
  }
  textarea {
    background-color: transparent;
    border: none;
    resize: none;
    outline: none;
  }
  .button-style {
    border: 1px solid rgb(172, 150, 90);
    background-color: rgb(172, 146, 90);
    height: 40px;
    width: 200px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 30px;
    margin-bottom: 1.5rem;
  }
  .button-style1 {
    position: relative;
    text-decoration: 0;
    display: block;
    width: 150px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
  }
  span {
    display: block;
  }
  .masker {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    background-color: rgba(255, 0, 0, 0.623);
    color: #ddd;
    overflow: hidden;
    transition: 0.4s;
  }
  .masker span {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
  }
  .button-style1:hover .masker {
    height: 100%;
  }
  .retter-move {
    display: block;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 3500;
    cursor: pointer;
  }
  .retter-move-font {
    color: #ddd;
    margin: 0 auto;
  }
  .plus {
    color: rgb(255, 255, 255);
    margin-top: 0.5rem;
  }
  .input-area {
    display: flex;
    margin-left: 3.8rem;
    margin-top: 1.1rem;
  }
  .send-area {
    display: flex;
    justify-content: center;
  }
  .loading {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    background: #fff;
    z-index: 1000;
  }
  .layerPopup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    margin: -30px 0 0 -30px;
  }
  .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spinner 2s linear infinite;
  }
  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .img-con {
    position: absolute;
  }
  .hands {
    position: relative;
    margin-left: 90rem;
    animation: motion 0.8s /* 속도 */ linear 0s
      /* 처음부터 끝까지 일정 속도로 진행 */ infinite alternate; /* 무한 반복 */
  }
  @keyframes motion {
    0% {
      margin-top: 0px;
    } /* 처음 위치 */
    100% {
      margin-top: 50px;
    } /* 마지막 위치 */
  }
  .material-symbols-outlined {
    font-size: 1.5rem !important;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
  